body.wrapper {
      padding: 0 0 50px 0;
  }
 body header {
      padding: 1px 0;
      }

body { 
/* padding-top: 80px; */
/* color: white; */
}      
      
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.button-block {
    margin-bottom: 35px;
}

#nav{
    display: block;
    color: rgb(201, 63, 63);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(65, 62, 62);
}
.card {
    position: relative; 
    padding: 30px 30px;
    color: rgb(37, 117, 163);

}

.card-title {
    color: black;
}
.div1{ 
    /* The image used */
    background-image: url("/images/covalence-store-home-copy.jpg");

    /* Full height */
    height: 100%; 
    width: 100%;
    /* border:1px solid black; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(108, 147, 187);
    min-height: 100vh;
    /* padding: 300px; */

}


.apparel {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 50px;
    text-align: center;
    
}


h1 {
    font-family: 'Anton', sans-serif;
    margin-right: 10px;
    font-size: 25pt;
}

h2 {
  font-family: 'Anton', sans-serif;  
}
h3 {
    font-family: 'Gurajada';

}
h4 {
    font-family: 'Lucida Sans';
    font-size: 12pt;
}
    .header {
     padding-left: 20vmin;
     padding-top: 35vmin;

 }   


#costdiv {
    position: absolute;
    top: 300px;
    left: 470px;
    font-size: 200%;
}
    
    .jumbotron{

        background-image:url('/images/covalence-store-apparel-hero.jpg');
        background-size:cover;
        background-position:relative;
         /* padding-top:0px;  */
        /* padding-bottom:50px;  */
        position: center;
        height: 200px;
        /* height: 150%; 
        width: 150%;
        left: 200px; */
    }
.jumbotron-d{
    background-image:url('/images/covalence-store-misc-hero.jpg');
    background-size:cover;
    background-position:relative;
    position: relative;
    height: 200px;
}
    

.my-form {
    position: relative;
    max-width: 450px;
    left: 20%;
}
