body.wrapper {
      padding: 0 0 50px 0;
  }
 body header {
      padding: 1px 0;
      }

body {
    
padding-top: 80px;
/* color: white; */
}      
      
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.button-block {
    margin-bottom: 35px;
}

#nav{
    display: block;
    color: rgb(201, 63, 63);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(65, 62, 62);
}
.card {
    position: relative; 
    left: 2px;

}

.div1{ 
    /* The image used */
    background-image: url("/images/covalence-store-home-copy.jpg");

    /* Full height */
    height: 100%; 
    width: 100%;
    border:1px solid black;
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 30px;
}

.apparel {
    display: inline-block;
    margin: 50px;
    text-align: center;
}


h1 {
    font-family: 'Anton', sans-serif;
}

h3{
    font-family: 'Gurajada';
    
}

#checkoutScroll {
    overflow-y: auto;
    height: auto;
}