<div class="wrapper container">
    <div class="header">
        <img src="images/logo.svg" alt="logo" />
        <h1>Cart</h1>
    </div>


    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <!-- Just an image -->
        <a class="navbar-brand" href="#">
                <img src="images/logo.svg" width="163" height="55" alt="logo">
            </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>    
            </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="nav" href="/">HOME
                            <span class="sr-only">(current)</span>
                           
                           
                        </a>
                </li>
            </ul>
            <img src="images/paypal.png" width="55" length "15" alt="paypal">
            <img src="images/american-express.png" width="55" length "15" alt="AmerExpress">
            <img src="images/visa.png" width="55" length "15" alt="visa">
            <img src="images/mastercard.png" width="55" length "15" alt="mastercard">
        </div>
    </nav>
</div>
<div class="apparel">
    <div id="checkoutScroll">
        <div ng-repeat="s in shoppingCart">
            <img src="{{ s.imageurl }}" width="150" height="150">
            <h3>{{ s.title }}</h3>
            <p>${{ s.price }}</p>
            <button type="button" class="btn btn-danger btn-lg" ng-click="deleteItem(shoppingCart, s)">Delete 
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <br>
                    <br>
        </div>
    </div>
</div>


<div id="costdiv">
    <div>
        <h2>Total Cost:</h2> ${{ getTotal() }}</div>
    <button type="button" class="btn btn-success btn-lg" ng-click="gotocheckbtn()">Proceed to Checkout 
                <span class="glyphicon glyphicon-credit-card" aria-hiddien="true"></span>
            </button>
</div>
</div>