<div class="wrapper container">
        <div class="header">
            <img src="images/logo.svg" alt="logo" />
            <h1>Checkout</h1>
        </div>
    
    
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <!-- Just an image -->
            <a class="navbar-brand" href="#">
                    <img src="images/logo.svg" width="163" height="55" alt="logo">
                </a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>    
                </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> 
                        <a class="nav-link" id="nav" href="/">HOME
                                <span class="sr-only">(current)</span>
                               
                            </a>
                    <li>
                    <img src= "images/paypal.png" width= "55" length "15"  alt="paypal">
                    <img src= "images/american-express.png" width= "55" length "15" alt="AmerExpress">
                    <img src="images/visa.png"   width= "55" length "15"  alt="visa"> 
                </li>
                </ul>
            </div>
        </nav>



        <!-- below the navbar -->

    
        <form id="payment-form">
            <div>Total: ${{ getTotal() }}</div>
            <span class="payment-errors"></span>
          
            <div class="form-row">
              <label>
                <span>Card Number</span>
                <input type="text" size="20" data-stripe="number">
              </label>
            </div>
          
            <div class="form-row">
              <label>
                <span>Expiration (MM/YY)</span>
                <input type="text" size="2" data-stripe="exp_month">
              </label>
              <span> / </span>
              <input type="text" size="2" data-stripe="exp_year">
            </div>
          
            <div class="form-row">
              <label>
                <span>CVC</span>
                <input type="text" size="4" data-stripe="cvc">
              </label>
            </div>

            <div class="form-row">
                    <label>
                      <span>Email</span>
                      <input type="text" data-stripe="email">
                    </label>
                  </div>
                
          
            <div class="form-row">
              <label>
                <span>Billing ZIP Code</span>
                <input type="text" size="6" data-stripe="address_zip">
              </label>
            </div>
          
            <input type="submit" class="submit" value="Submit Payment">
          </form>



