<div class="wrapper container">
    <div class="header">
        <img src="images/logo.svg" alt="logo" />
        <h1>Misc</h1>
    </div>
    <header> </header>
    <!-- 
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><img src="logo.svg" alt="logo" /></li>
    <li style="float:right"><a class="active"></a><a href="/apparel/">APPAREL</a></li>
    <li><a href="/misc/">MISC</a></li>
    <li><a href="/cart/">Cart</a></li>
  </ul> -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!-- Just an image -->
        <a class="navbar-brand" href="#">
            <img src="images/logo.svg" width="163" height="224" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>

                <li class="nav-link">
                    <a class="nav-apparel" href="/apparel">APPAREL</a>
                </li>

                <li class="nav-link">
                    <a class="nav-misc" href="/misc">MISC</a>

                <li class="nav-link">
                    <a class="nav-cart" href="/checkout">CART</a>
                    </li>
            </ul>
        </div>
    </nav>

</div>

<!-- Below the nav bar -->
<div class="apparel">
        <div class="apparelgear" ng-repeat="p in product" ng-click="singleRead(p.id)">
            <img src="{{ p.imageurl }}" width="150" height="150">
            <h3>{{ p.title }}</h3>
            <p>${{ p.price }}</p>
        </div>
    </div>