body, html {
    height: 100%;
}

<div class="wrapper container">
    <div class="header">
        <img src="images/logo.svg" alt="logo" />
        <h1>Welcome to the Covalence Store</h1>
    </div>
</div>

    <header>
           
                    <img src="images/covalence-store-home-copy.jpg" class="img-fluid img-thumbnail" alt="Mug">
            <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h4 class="card-title">Enjoy a great shopping experience</h4>
                      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                      <a href="#" class="btn btn-primary">Click here</a>
                    </div>
                  </div>
                
    </header>
    <!-- 
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><img src="logo.svg" alt="logo" /></li>
    <li style="float:right"><a class="active"></a><a href="/apparel/">APPAREL</a></li>
    <li><a href="/misc/">MISC</a></li>
    <li><a href="/cart/">Cart</a></li>
  </ul> -->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <!-- Just an image -->
        <a class="navbar-brand" href="#">
            <img src="images/logo.svg" width="163" height="224" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>

                <li class="nav-link">
                    <a class="nav-apparel" href="/apparel">APPAREL</a>
                </li>

                <li class="nav-link">
                    <a class="nav-misc" href="/misc">MISC</a>

                <li class="nav-link">
                    <a class="nav-cart" href="/checkout">CART</a>
                    </li>
            </ul>
        </div>
    </nav>

</div>