<header>
    <div class="div1 ">

        <div class="header">
            <!-- <img src="images/logo.svg" alt="logo" /> -->
            <h1>Welcome to the &nbsp; </h1>
                   <h1>Covalence Store.</h1>
            <!-- <img src="images/covalence-store-home-copy.jpg" class="img-fluid img-thumbnail" alt="Mug"> -->
            <div class="card" style="width: 25rem;>"
                <div class="card-body">
                    <h4 class="card-title">Enjoy a great shopping experience!!!</h4>

                    <a href="/apparel" class="btn btn-primary btn-lg">Click here <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>


                </div>
            </div>
        </div>

    </div>

</header>


<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <!-- Just an image -->
    <a class="navbar-brand" href="#">
        <img src="images/logo.svg" width="163" height="50" alt="logo">
        
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" id="nav" href="/">HOME</a>
                <!-- <span class="sr-only">(current)</span> -->
            </li>

            <li class="nav-item">
                <a class="nav-link" id="nav" href="/apparel">APPAREL</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="nav" href="/misc">MISC</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="nav" href="/cart">CART</a>
            </li>
            
    

        </ul>

    </div>

</nav>
